@charset "UTF-8";
.flex_center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* font size */
:root {
  --swiper-theme-color: $color_ft_777;
}

/* 메인페이지 공통 사항  */
.page_main {
  width: 100%;
  background-color: #fff;
  padding-top: 0;
  margin-top: -112px;
}
.page_main .swiper .swiper-pagination-progressbar {
  background: #ddd;
}
.page_main .swiper img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
}
.page_main .swiper .swiper-notification {
  position: absolute;
  height: 1px;
}
.page_main .inner {
  width: 120rem;
  margin: 0 auto;
  overflow: hidden;
}
.page_main section {
  margin-left: unset;
  width: 100%;
  position: relative;
  margin-bottom: 10rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.page_main section .section_title {
  display: block;
  width: 100%;
  height: 4.1rem;
  font-size: 3.2rem;
  line-height: 3rem;
  margin-bottom: 4rem;
  background: unset;
  text-align: left;
}
.page_main section .section_title b {
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.page_main .btn_round {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16rem;
  height: 4.8rem;
  font-size: 1.8rem;
  border-radius: 2.5rem;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.page_main .btn_round.lined {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.page_main {
  /* 메인 비주얼 */
  /* API 현황 영역 */
  /* 서비스 소개 영역 */
  /* 민관 융합 영역 */
  /*  하단 영역  */
  /* 하단 영역 좌측 게시판 영역 */
  /* 하단 영역 우측 프로모션 슬라이드 영역 */
}
.page_main .main_visual {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  background-image: url("../../public/img/main/bg_hero.png");
  margin-bottom: 10rem;
}
.page_main .main_visual .main_cont_wrap.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 77.2rem;
}
.page_main .main_visual .box_txt {
  text-align: center;
  margin: 0 auto;
  margin-top: 112px;
}
.page_main .main_visual h3 {
  font-size: 2.8rem;
  line-height: 3.8rem;
  margin-bottom: 2rem;
}
.page_main .main_visual h2 {
  font-size: 4rem;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin-bottom: 4rem;
}
.page_main .main_visual h4 {
  font-size: 1.8rem;
  line-height: 1.55;
}
.page_main .main_visual .btn_round {
  margin: 0 auto;
  margin-top: 6rem;
}
.page_main .section_current .wrap_box_current {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
}
.page_main .section_current .box_current {
  width: 32%;
  height: 14.4rem;
  border-radius: 2rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page_main .section_current .box_current:nth-of-type(1) {
  background-color: #e0ecf7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../public/img/main/bg_wave01.png");
}
.page_main .section_current .box_current:nth-of-type(2) {
  background-color: #e1efee;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../public/img/main/bg_wave02.png");
}
.page_main .section_current .box_current:nth-of-type(3) {
  background-color: #e0e8f7;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("../../public/img/main/bg_wave03.png");
}
.page_main .section_current .box_current h3 {
  text-align: left;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.page_main .section_current .box_current h4 {
  text-align: right;
  font-size: 2.8rem;
}
.page_main .section_current .box_current h4 .count_num {
  font-size: 3.6rem;
  margin-right: 2rem;
}
.page_main .section_introduce .wrap_box_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.4rem;
  width: 100%;
}
.page_main .section_introduce .box_service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.4rem 1rem 2.9rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
  width: 28.2rem;
  height: 22rem;
}
.page_main .section_introduce .box_service .service_logo {
  width: 100%;
  height: 5.1rem;
}
.page_main .section_introduce .box_service .service_logo img {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin: auto;
}
.page_main .section_introduce .box_service h3 {
  height: 5rem;
  margin-top: auto;
  text-align: center;
  font-size: 1.8rem;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  word-break: keep-all;
}
.page_main .section_introduce .box_service .btn_round {
  width: 10rem;
  height: 3.2rem;
  color: #111;
  font-size: 1.4rem;
  border: 1px solid #ddd;
}
.page_main .section_integrate .wrap_slide_row {
  width: 100%;
  height: 32.8rem;
  background-color: #e0ecf7;
  padding-top: 6rem;
  padding-bottom: 4rem;
  position: relative;
}
.page_main .section_integrate .wrap_slide_row .mask_blur {
  width: 126rem;
  height: 100%;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  pointer-events: none;
}
.page_main .section_integrate .wrap_slide_row .mask_blur::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -15rem;
  width: 30rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e0ecf7), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #e0ecf7 50%, rgba(255, 255, 255, 0));
}
.page_main .section_integrate .wrap_slide_row .mask_blur::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -15rem;
  width: 30rem;
  height: 100%;
  z-index: 2;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #e0ecf7), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #e0ecf7 50%, rgba(255, 255, 255, 0));
}
.page_main .section_integrate .wrap_slide_row .slide_row {
  position: relative;
  width: 126rem;
  margin: auto;
  overflow: hidden;
}
.page_main .section_integrate .wrap_slide_row .swiper-wrapper {
  width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.2rem;
}
.page_main .section_integrate .wrap_slide_row .box_circle {
  position: relative;
  width: 14rem;
  height: 14rem;
  background-color: #fff;
  border-radius: 50%;
}
.page_main .section_integrate .wrap_slide_row .box_circle img {
  width: 11rem;
  height: auto;
  margin: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.page_main .section_integrate .btn_round {
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  margin: 0 auto;
  margin-top: 4rem;
  border-color: #1953d5;
  background-color: #1953d5;
  color: #fff;
}
.page_main .section_bottom .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2.4rem;
}
.page_main .wrap_board {
  position: relative;
  max-width: 79.2rem;
  height: 28rem;
  padding: 2.9rem;
  border: 1px solid #ddd;
  border-radius: 2rem;
}
.page_main .wrap_board .board_btn_view {
  display: block;
  position: absolute;
  z-index: 10;
  display: none;
  top: 3.2rem;
  right: 2.9rem;
  width: 80px;
  font-size: 1.8rem;
  background-repeat: no-repeat;
  background-position: right top 2px;
  background-size: 8px 12px;
  background-image: url("../../public/img/icons/icon_chevron_right_b2.png");
}
.page_main .wrap_board .board_btn_view.on {
  display: block;
}
.page_main .wrap_board .tab_btn_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
  margin-bottom: 1.2rem;
}
.page_main .wrap_board .tab_btn_list .tab_btn_item {
  display: table;
}
.page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
  position: relative;
  font-size: 2.4rem;
  line-height: 1;
  margin-right: 2.9rem;
  color: #919191;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  display: table-cell;
  vertical-align: top;
}
.page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor.on {
  color: #111;
}
.page_main .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor.on::after {
  content: "";
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 100%;
  height: 3px;
  bottom: -1.3rem;
  left: 0;
  background-color: #111;
}
.page_main .wrap_board .tab_contents {
  padding-top: 19px;
}
.page_main .wrap_board .tab_contents.notice.on .board_btn_view {
  display: block;
}
.page_main .wrap_board .tab_contents.archive.on .board_btn_view {
  display: block;
}
.page_main .wrap_board .board_list .board_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3.5rem;
}
.page_main .wrap_board .board_list .board_item .post_title {
  max-width: calc(100% - 95px);
}
.page_main .wrap_board .board_list .board_item .badge.new {
  margin-left: 10px;
  top: -1px;
}
.page_main .wrap_board .board_list .board_item .board_date {
  color: #919191;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  width: 80px;
  font-size: 1.6rem;
  margin-left: auto;
}
.page_main .section_promotion {
  position: relative;
  width: 38.4rem;
  height: 28rem;
  border-radius: 2rem;
}
.page_main .section_promotion .wrap_slide_promotion {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}
.page_main .section_promotion .slide_promotion {
  position: relative;
  width: 100%;
  height: 100%;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide {
  border-radius: 30px;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide img {
  position: relative;
  -o-object-fit: contain;
     object-fit: contain;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide.slide_01 .slide_promotion_anchor {
  background: url("../../public/img/main/bg_event_01.png") no-repeat center 100%;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .slide_promotion_anchor {
  width: 100%;
  height: 100%;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .box_txt {
  padding-left: 4rem;
  padding-top: 3rem;
  color: #fff;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide .badge_round {
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  font-size: 16px;
  width: 77px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2.3rem;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide h4 {
  font-size: 22px;
  font-family: "NotoSansBold", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  line-height: 1.5;
}
.page_main .section_promotion .slide_promotion .swiper-wrapper .swiper-slide h5 {
  font-size: 16px;
  margin-top: 14px;
}
.page_main .section_promotion .slide_controller {
  display: block;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 3;
  color: #fff;
  width: 16.3rem;
  height: 3rem;
}
.page_main .section_promotion .slide_controller .controller_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 3rem;
}
.page_main .section_promotion .slide_controller .controller_btn_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page_main .section_promotion .slide_controller .controller_box_state {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 7rem;
  height: 100%;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
  background-color: #1f4085;
}
.page_main .section_promotion .slide_controller .controller_box_btn {
  width: 9.3rem;
}
.page_main .section_promotion .slide_controller .controller_box_btn button {
  position: relative;
  width: 3rem;
  height: 3rem;
  margin-left: 0.1rem;
  background-color: #1f4085;
}
.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_prev::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 0.8rem;
  height: 1.2rem;
  background-image: url("../../public/img/icons/icon_chevron_left_wt.png");
}
.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_pause::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 0.8rem;
  height: 1.1rem;
  background-image: url("../../public/img/icons/icon_pause.png");
}
.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_pause.pausing::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 0.6rem;
  height: 1rem;
  background-image: url("../../public/img/icons/icon_play.png");
}
.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_next {
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.page_main .section_promotion .slide_controller .controller_box_btn button.controller_btn_next::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  width: 0.8rem;
  height: 1.2rem;
  background-image: url("../../public/img/icons/icon_chevron_right_wt.png");
}

@media all and (max-width: 1366px) {
  .page_main .inner {
    width: 100%;
    padding: 0 3%;
  }
  .page_main .section_bottom .inner .wrap_board {
    max-width: unset;
    width: calc(100% - 408px);
  }
  .page_main .section_bottom .inner .section_promotion {
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
  .page_main .section_introduce .wrap_box_service {
    gap: 24px 2.6%;
  }
  .page_main .section_introduce .box_service {
    width: 23%;
  }
}
@media screen and (max-width: 1024px) {
  .page_main .inner {
    width: 100%;
    padding: 0 0;
  }
  .page_main section {
    width: 100%;
    padding: 0 3%;
  }
  .page_main section.section_integrate {
    padding: 0 0;
  }
  .page_main section.section_integrate .wrap_slide_row .mask_blur {
    width: 100%;
  }
  .page_main .section_introduce .wrap_box_service {
    gap: 18px 2%;
  }
  .page_main .section_introduce .box_service {
    width: 32%;
  }
  /* 프로모션 영역 */
  .section_bottom .section_promotion {
    padding: 0 0;
    margin-bottom: 0;
  }
}
/* 작은 태블릿 가로 사이즈 ~ 모바일 기기 가로 사이즈 */
@media all and (max-width: 768px) {
  .page_main {
    /* 메인페이지 공통 사항  */
    /* API 현황 영역 */
    /* 민관 융합 영역 */
    /*  하단 영역  */
  }
  .page_main .inner {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .page_main .section_current .wrap_box_current {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  .page_main .section_current .box_current {
    width: 100%;
    height: 12rem;
    border-radius: 1.4rem;
    padding: 2.3rem;
  }
  .page_main .section_current .box_current h4 {
    font-size: 2.8rem;
  }
  .page_main .section_current .box_current h4 .count_num {
    font-size: 3.2rem;
    margin-right: 0.8rem;
  }
  .page_main .section_introduce.only_wide {
    display: block;
  }
  .page_main .section_introduce.only_mob {
    display: none;
  }
  .page_main .section_introduce .wrap_box_service {
    gap: 16px 2%;
  }
  .page_main .section_introduce .box_service {
    width: 48%;
  }
  .page_main .section_integrate .wrap_slide_row {
    position: relative;
    height: 24rem;
    padding-top: 3rem;
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur::before {
    width: 4.5rem;
    left: 0;
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur::after {
    width: 4.5rem;
    right: 0;
  }
  .page_main .section_integrate .wrap_slide_row .slide_row {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .page_main .section_integrate .wrap_slide_row .swiper-wrapper {
    gap: 1rem;
  }
  .page_main .section_integrate .wrap_slide_row .box_circle {
    width: 10rem;
    height: 10rem;
  }
  .page_main .section_integrate .wrap_slide_row .box_circle img {
    max-width: 9.5rem;
    height: 1.6rem;
  }
  .page_main .section_integrate .btn_round {
    margin-top: 3rem;
  }
  .page_main .section_bottom .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 8rem;
  }
  .page_main .section_bottom .inner .wrap_board {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 24px;
  }
  .page_main .section_bottom .inner .wrap_board .tab_contents {
    padding-top: 0;
  }
  .page_main .section_bottom .inner .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
    font-size: 18px;
  }
  .page_main .section_bottom .inner .wrap_board .board_list .board_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
    margin-top: 2.5rem;
  }
  .page_main .section_bottom .inner .wrap_board .board_list .board_item .post_title {
    max-width: 100%;
    font-size: 14px;
  }
  .page_main .section_bottom .inner .wrap_board .board_list .board_item .board_date {
    font-size: 14px;
    text-align: left;
    margin-left: unset;
  }
  .page_main .section_bottom .section_promotion {
    margin: auto;
  }
  .page_main .section_bottom .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
    font-size: 18px;
  }
  .page_main .section_bottom .slide_promotion .swiper-wrapper .swiper-slide a {
    padding: 0;
  }
}
/* mobile 규격  ( 모바일 기기 _ 실 사이즈 480px 미만의 모든 디바이스 ) */
@media all and (max-width: 480px) {
  .page_main {
    /* 메인페이지 tag 공통 사항  */
    /* 메인 비주얼 */
    /* 메인 비주얼 */
    /* 모바일 슬라이드 swiper */
    /* 서비스 소개 영역 */
    /* 민관 융합 영역 */
    /*  하단 영역  */
  }
  .page_main .inner {
    width: 100%;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .page_main section {
    margin-bottom: 6rem;
  }
  .page_main section .section_title {
    display: block;
    width: 100%;
    height: 2.1rem;
    margin-bottom: 4rem;
    background: unset;
    text-align: left;
    font-size: 2.2rem;
    line-height: 1;
    margin-bottom: 2.8rem;
  }
  .page_main .btn_round {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
  }
  .page_main .main_visual .main_cont_wrap.inner {
    height: 46.6rem;
  }
  .page_main .main_visual .box_txt {
    text-align: center;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page_main .main_visual h3 {
    font-size: 1.7rem;
    line-height: 1;
    margin-bottom: 1.8rem;
  }
  .page_main .main_visual h2 {
    font-size: 2.8rem;
    margin-bottom: 2.6rem;
  }
  .page_main .main_visual h4 {
    height: 53px;
    font-size: 1.3rem;
    line-height: 1.4;
    margin-top: 0;
  }
  .page_main .main_visual .btn_round {
    width: 13.2rem;
    height: 3.8rem;
    margin-top: 6rem;
    font-size: 1.5rem;
  }
  .page_main .main_visual .btn_round.lined {
    margin-top: 2.7rem;
    margin-bottom: 0;
  }
  .page_main .swiper-container-horizontal > .swiper-pagination-progressbar,
  .page_main .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    width: calc(100% - 30px);
    padding: 0 15px;
    height: 4px;
    left: 15px;
    top: unset;
    bottom: -20px;
  }
  .page_main .section_introduce {
    position: relative;
    bottom: 0;
  }
  .page_main .section_introduce.only_wide {
    display: none;
  }
  .page_main .section_introduce.only_mob {
    display: block;
    margin-bottom: 8rem;
  }
  .page_main .section_introduce .wrap_box_service {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    gap: 1.45rem;
  }
  .page_main .section_introduce .box_service {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 24rem;
    height: 17rem;
    padding-top: 2.2rem;
    padding-bottom: 0;
    border-radius: 1.5rem;
  }
  .page_main .section_introduce .box_service .service_logo {
    width: 100%;
    height: 2.4rem;
  }
  .page_main .section_introduce .box_service h3 {
    font-size: 1.6rem;
    height: auto;
    margin-bottom: 0;
    margin-top: 2.3rem;
  }
  .page_main .section_introduce .box_service .btn_round {
    position: absolute;
    bottom: 2.5rem;
    width: 10rem;
    height: 3.2rem;
    color: #111;
    font-size: 1.4rem;
    border: 1px solid #ddd;
  }
  .page_main .section_introduce .swiper-pagination {
    z-index: 1;
  }
  .page_main .section_introduce .section_introduce {
    position: absolute;
    bottom: 30px;
  }
  .page_main .section_introduce .section_introduce .swiper-pagination {
    background-color: #ddd;
  }
  .page_main .section_introduce .section_introduce .swiper-notification {
    color: #919191;
    background-color: #919191;
  }
  .page_main .section_integrate .wrap_slide_row {
    position: relative;
    height: 20rem;
    padding-top: 3rem;
    padding-bottom: 0;
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur {
    width: 100vw;
    height: 100%;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur::before {
    width: 4.5rem;
    left: 0;
  }
  .page_main .section_integrate .wrap_slide_row .mask_blur::after {
    width: 4.5rem;
    right: 0;
  }
  .page_main .section_integrate .wrap_slide_row .slide_row {
    position: relative;
    width: 100%;
    margin: auto;
  }
  .page_main .section_integrate .wrap_slide_row .swiper-wrapper {
    gap: 1rem;
  }
  .page_main .section_integrate .wrap_slide_row .box_circle {
    width: 7rem;
    height: 7rem;
  }
  .page_main .section_integrate .wrap_slide_row .box_circle img {
    max-width: 6.5rem;
    height: 1.6rem;
  }
  .page_main .section_integrate .btn_round {
    width: 12rem;
    height: 4rem;
    font-size: 1.6rem;
    margin-top: 3rem;
  }
  .page_main .section_bottom {
    /* 프로모션 영역 */
  }
  .page_main .section_bottom .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5rem;
  }
  .page_main .section_bottom .wrap_board {
    height: auto;
    padding: 24px;
  }
  .page_main .section_bottom .wrap_board .board_btn_view {
    font-size: 14px;
  }
  .page_main .section_bottom .wrap_board .tab_contents {
    padding-top: 0;
  }
  .page_main .section_bottom .wrap_board .tab_btn_list .tab_btn_item .tab_btn_anchor {
    font-size: 18px;
  }
  .page_main .section_bottom .wrap_board .board_list .board_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
    margin-top: 2.5rem;
  }
  .page_main .section_bottom .wrap_board .board_list .board_item .post_title {
    max-width: 100%;
    font-size: 14px;
  }
  .page_main .section_bottom .wrap_board .board_list .board_item .board_date {
    font-size: 14px;
    text-align: left;
    margin-left: unset;
  }
  .page_main .section_bottom .slide_promotion .swiper-wrapper .swiper-slide a {
    padding: 0;
  }
  .page_main .section_bottom .section_promotion {
    width: 100%;
    height: auto;
  }
}