@charset "UTF-8";
.flex_center {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

/* font size */
.gnb_mob .gov_top_info {
  background-color: #fff;
  width: 100%;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
}
.gnb_mob .gov_top_info p {
  height: 33px;
  line-height: 33px;
  font-size: 12px;
  padding-left: 34px;
  color: #919191;
  background: url("../../public/img/logo/eg_logo.png") no-repeat center left;
  background-size: 26px;
}

.header {
  background-color: #fff;
  /* gnb_wide */
}
.header .nav_dim {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition-property: visibility, opacity;
  transition-property: visibility, opacity;
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.header .wrap_gnb {
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.header .header_inner {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2000;
}
.header.gnb_wide {
  /* 헤더 최상단 화면 크기 제어 + 로그인 버튼 영역 */
  /* 모바일 상단 로그인 상태창 */
  /* 메뉴 영역 */
  /* lnb 메뉴 */
  /* 검색 메뉴 버튼 */
  /* 검색 메뉴 */
  /*  우측 검색 바  */
}
.header.gnb_wide .bg_lnb {
  position: fixed;
  top: 112px;
  z-index: 2002;
  width: 100%;
  height: 370px;
  padding: 2.1rem 2rem 3.6rem;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  display: none;
}
.header.gnb_wide .area_top {
  width: 100%;
  height: 4rem;
  background-color: #15285f;
}
.header.gnb_wide .area_top .area_top_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 120rem;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
  overflow: hidden;
}
.header.gnb_wide .area_top .gov_top_info p {
  height: 40px;
  line-height: 40px;
  margin: 0 auto;
  font-size: 14px;
  padding-left: 52px;
  color: #fff;
  background: url("../../public/img/logo/eg_logo.png") no-repeat center left;
}
.header.gnb_wide .area_top .box_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.4rem;
}
.header.gnb_wide .area_top .box_btns li {
  position: relative;
  padding: 0px 1.5rem;
}
.header.gnb_wide .area_top .box_btns li::after {
  display: block;
  z-index: 10;
  position: absolute;
  top: 50%;
  right: 0;
  width: 1px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  content: "";
}
.header.gnb_wide .area_top .box_btns li:nth-last-child(1) {
  padding-right: 0;
}
.header.gnb_wide .area_top .box_btns li:nth-last-child(1)::after {
  display: none;
}
.header.gnb_wide .area_top .box_btn_zoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 1.1rem;
  border: 1px solid #fff;
  color: white;
  background-image: url("../../public/img/icons/icon_plus.png");
  background-position: center center;
  background-size: 0.9rem 0.9rem;
  background-repeat: no-repeat;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom.out {
  background-image: url("../../public/img/icons/icon_minus.png");
  background-position: center center;
  background-size: 0.9rem 0.1rem;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom.reset {
  background-image: url("../../public/img/icons/icon_reset.png");
  background-position: center center;
  background-size: 1rem 1rem;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom_in {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 1.1rem;
  border: 1px solid #fff;
  color: white;
  background-image: url("../../public/img/icons/icon_plus.png");
  background-position: center center;
  background-size: 0.9rem 0.9rem;
  background-repeat: no-repeat;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom_out {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 0.5rem;
  border: 1px solid #fff;
  color: white;
  background-image: url("../../public/img/icons/icon_minus.png");
  background-position: center center;
  background-size: 0.9rem 0.1rem;
  background-repeat: no-repeat;
}
.header.gnb_wide .area_top .box_btn_zoom .btn_zoom_reset {
  width: 1.9rem;
  height: 1.9rem;
  margin-left: 0.5rem;
  border: 1px solid #fff;
  color: white;
  background-image: url("../../public/img/icons/icon_reset.png");
  background-position: center center;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}
.header.gnb_wide .area_state {
  display: none;
}
.header.gnb_wide .area_state .user_info {
  display: none;
}
.header.gnb_wide .depth02_item .depth03 {
  display: none;
}
.header.gnb_wide .area_menu {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}
.header.gnb_wide .area_menu::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  top: 72px;
}
.header.gnb_wide .area_menu .area_menu_inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 120rem;
  margin: 0 auto;
}
.header.gnb_wide .area_menu .area_menu_inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 72px;
}
.header.gnb_wide .area_menu .area_menu_inner .logo .logo_anchor {
  display: inline-block;
  width: 16.8rem;
  height: 3.8rem;
  vertical-align: middle;
  background-image: url("../../public/img/logo/logo_big.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% 3.8rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header.gnb_wide .area_menu .area_menu_inner .wrap_menus {
  width: 66.67%;
}
.header.gnb_wide .menu_text {
  position: relative;
}
.header.gnb_wide .menu_text .lnb_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
}
.header.gnb_wide .menu_text .lnb_list .depth01 {
  position: relative;
  width: 25%;
  min-width: 20rem;
  max-width: 23rem;
  overflow: hidden;
}
.header.gnb_wide .menu_text .lnb_list .depth01::before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 7.2rem);
  bottom: 0;
  left: 0;
  background-color: #ddd;
}
.header.gnb_wide .menu_text .lnb_list .depth01:nth-last-of-type(1)::after {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: calc(100% - 7.2rem);
  bottom: 0;
  right: 0;
  background-color: #ddd;
}
.header.gnb_wide .menu_text .lnb_list .depth01:nth-last-of-type(1):hover .depth01_item::after {
  width: 100%;
}
.header.gnb_wide .menu_text .lnb_list .depth01.on, .header.gnb_wide .menu_text .lnb_list .depth01:hover {
  background-color: #edf2fc;
}
.header.gnb_wide .menu_text .lnb_list .depth01.on .depth01_item, .header.gnb_wide .menu_text .lnb_list .depth01:hover .depth01_item {
  position: relative;
  background-color: #fff;
  color: #1953d5;
  cursor: pointer;
}
.header.gnb_wide .menu_text .lnb_list .depth01.on .depth01_item::after, .header.gnb_wide .menu_text .lnb_list .depth01:hover .depth01_item::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% + 1px);
  height: 4px;
  bottom: 0;
  left: 0;
  z-index: 2060;
  background-color: #1953d5;
  color: #1953d5;
}
.header.gnb_wide .menu_text .lnb_list .depth01_item {
  position: relative;
  width: 100%;
  height: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 18px;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.header.gnb_wide .menu_text .lnb_list .depth01_item .depth01_item_anchor {
  line-height: 2;
}
.header.gnb_wide .menu_text .lnb_list .depth02 {
  display: none;
  text-align: left;
  word-break: keep-all;
  width: 100%;
  padding: 2.1rem 2rem 4rem;
  border-top: 1px solid #ddd;
}
.header.gnb_wide .menu_text .lnb_list .depth02 .depth02_item {
  margin-top: 1.9rem;
}
.header.gnb_wide .menu_text .lnb_list .depth02 .depth02_item .depth02_item_anchor {
  font-size: 16px;
  line-height: 1.25;
  font-family: "NotoSansRegular", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.header.gnb_wide .menu_text .lnb_list .depth02 .depth02_item .depth02_item_anchor:hover, .header.gnb_wide .menu_text .lnb_list .depth02 .depth02_item .depth02_item_anchor.on {
  color: #1953d5;
  text-decoration: underline;
  text-underline-offset: 4px;
}
.header.gnb_wide .box_btn_util {
  display: none;
}
.header.gnb_wide .menu_search {
  display: none;
}
.header.gnb_wide .wrap_gnb_search {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 18px;
}
.header.gnb_wide .wrap_gnb_search .gnb_search {
  position: relative;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb {
  max-width: 22rem;
  height: 36px;
  border: 1px solid #111;
  color: #919191;
  border-radius: 18px;
  font-size: 16px;
  text-align: left;
  padding: 0 36px 0 18px;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb::-webkit-input-placeholder {
  color: #919191;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb::-moz-placeholder {
  color: #919191;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb:-ms-input-placeholder {
  color: #919191;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb::-ms-input-placeholder {
  color: #919191;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb::placeholder {
  color: #919191;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .btn_search_gnb {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}
.header.gnb_wide .wrap_gnb_search .gnb_search .btn_search_gnb::after {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../../public/img/icons/icon_search_bl.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.header.gnb_mob {
  height: 93px;
  /* LNB */
  /* 검색메뉴 */
  /* 우측 검색 바   */
}
.header.gnb_mob .nav_dim {
  top: 128px;
}
.header.gnb_mob .bg_lnb {
  display: none;
}
.header.gnb_mob .wrap_gnb {
  z-index: auto;
}
.header.gnb_mob.on .wrap_menus {
  width: 84%;
  max-width: 315px;
  -webkit-transition: ease-in-out 0.25s;
  transition: ease-in-out 0.25s;
}
.header.gnb_mob.on .nav_dim {
  top: 0;
  z-index: 2001;
}
.header.gnb_mob.on .wrap_gnb {
  z-index: auto;
}
.header.gnb_mob.on .wrap_menus {
  z-index: 2030;
}
.header.gnb_mob .area_top .box_btns {
  display: none;
}
.header.gnb_mob .area_menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.header.gnb_mob .area_menu .area_menu_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 93px;
  padding: 4.1rem 1.6rem 0.8rem;
  background-color: #fff;
}
.header.gnb_mob .area_menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header.gnb_mob .area_menu .logo .logo_anchor {
  display: inline-block;
  background-image: url("../../public/img/logo/logo_big.png");
  background-position: center left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 12rem;
  height: 2.8rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.header.gnb_mob .area_menu .box_btn_util {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 6.8rem;
  gap: 2rem;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_sitemap {
  display: none;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_ham {
  display: block;
  position: relative;
  width: 2.4rem;
  height: 2.5rem;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_ham::after {
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/icons/icon_btn_ham_bl.png");
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_search {
  position: relative;
  width: 2.4rem;
  height: 2.5rem;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_search::after {
  width: 100%;
  height: 100%;
  background-image: url("../../public/img/icons/icon_search_bl.png");
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
.header.gnb_mob .area_menu .box_btn_util .box_btn_item .btn_util_search.on::after {
  background-image: url("../../public/img/icons/icon_x_bl.png");
}
.header.gnb_mob .menu_text .lnb_list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  width: 100%;
  overflow-y: auto;
}
.header.gnb_mob .menu_text .lnb_list .depth01 {
  width: 100%;
  background-color: #fff;
}
.header.gnb_mob .menu_text .lnb_list .depth01 .depth01_item {
  position: relative;
  line-height: 5rem;
  font-size: 1.6rem;
  border-bottom: 1px solid #ddd;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  text-indent: 2rem;
}
.header.gnb_mob .menu_text .lnb_list .depth01 .depth01_item::after {
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  right: 2.45rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 1.5rem;
  height: 0.95rem;
  background-image: url("../../public/img/icons/icon_chevron_down_bl.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.header.gnb_mob .menu_text .lnb_list .depth01.on .depth01_item::after {
  -webkit-transform: rotate(180deg) translateY(50%);
          transform: rotate(180deg) translateY(50%);
}
.header.gnb_mob .menu_text .lnb_list .depth02 {
  display: none;
  width: 100%;
  background-color: #eef2fd;
  border-bottom: 1px solid #ddd;
  padding: 2.5rem 0 2.5rem 2rem;
}
.header.gnb_mob .menu_text .lnb_list .depth02.on span {
  position: relative;
}
.header.gnb_mob .menu_text .lnb_list .depth02.on span::after {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}
.header.gnb_mob .menu_text .lnb_list .depth02 .depth02_item {
  position: relative;
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "NotoSansMedium", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  word-break: keep-all;
}
.header.gnb_mob .menu_text .lnb_list .depth02 .depth02_item:not(:nth-last-of-type(1)) {
  margin-bottom: 21px;
}
.header.gnb_mob .menu_text .lnb_list .depth02 .depth02_item.item_toggle::after {
  display: block;
  position: absolute;
  top: 1.4rem;
  right: 0;
  width: 1.2rem;
  height: 1.2rem;
  background-image: url("../../public/img/icons/icon_plus.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  content: "";
}
.header.gnb_mob .wrap_menus {
  width: 0;
  height: 100%;
  min-height: 100vh;
  /* 100vh; 크로스 브라우징 */
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 2020;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* 모바일 상단 로그인 상태창 */
}
@supports (-webkit-appearance: none) and (stroke-color: transparent) {
  .header.gnb_mob .wrap_menus {
    min-height: -webkit-fill-available;
  }
}
.header.gnb_mob .wrap_menus .area_state {
  position: relative;
  width: 100%;
  padding: 2rem 1.9rem 2.5rem;
  background-color: #15285f;
}
.header.gnb_mob .wrap_menus .area_state .btn_close_menu {
  position: absolute;
  z-index: 2010;
  top: 2rem;
  left: 1.9rem;
  width: 2.4rem;
  height: 2.4rem;
  background-image: url("../../public/img/icons/icon_x_wt.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
.header.gnb_mob .wrap_menus .area_state .user_info {
  position: relative;
}
.header.gnb_mob .wrap_menus .area_state .user_info .logo_lnb {
  text-align: center;
  margin-top: 1.7rem;
  width: auto;
  height: 2.8rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .logo_lnb img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.header.gnb_mob .wrap_menus .area_state .user_info .logo_lnb a img {
  width: auto;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
}
.header.gnb_mob .wrap_menus .area_state .user_info .box_state {
  width: 100%;
  padding-top: 2.3rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .box_state .greeting {
  color: #fff;
  text-align: center;
}
.header.gnb_mob .wrap_menus .area_state .user_info .box_state .user_auth_state {
  color: #aaa;
  text-align: center;
  margin-top: 1rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .box_state .box_btn_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 23rem;
  margin: 0 auto;
  margin-top: 1.5rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .box_state .box_btn_info .btn_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 11rem;
  height: 3rem;
  border-radius: 0.35rem;
  color: #111;
  text-align: center;
  background-color: #fff;
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 1.5rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile .wrap_img_profile {
  overflow: hidden;
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: #26357c;
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile .wrap_img_profile img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile .wrap_txt_profile {
  width: calc(100% - 6.5rem);
  font-family: "NotoSansRegular", "나눔바른고딕", "NanumBarunGothic", "Apple SD 산돌고딕 Neo", "Apple SD Gothic Neo", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile .wrap_txt_profile h3 {
  width: 100%;
  color: #fff;
  font-size: 1.8rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .area_profile .wrap_txt_profile .user_auth_state {
  width: 100%;
  margin-top: 1rem;
  color: #aaa;
  font-size: 1.4rem;
}
.header.gnb_mob .wrap_menus .area_state .user_info .user_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;
}
.header.gnb_mob .menu_search .wrap_drop_menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: 2000;
  top: 93px;
  left: 50%;
  width: 100%;
  background-color: #fff;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header.gnb_mob .menu_search .wrap_drop_menu::before {
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100%;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.header.gnb_mob .menu_search .wrap_drop_menu.on::before {
  opacity: 1;
  visibility: inherit;
}
.header.gnb_mob .menu_search .wrap_drop_menu fieldset {
  position: relative;
  width: 100%;
  padding-top: 6rem;
  padding-bottom: 6.7rem;
  padding-left: 5.2rem;
  padding-right: 5.2rem;
  border-bottom: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
}
.header.gnb_mob .menu_search .wrap_drop_menu fieldset .tit_search {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 3.6rem;
  margin-right: 2rem;
  color: #111;
  font-size: 1.6rem;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 4.7rem;
  margin: 0 auto;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text] {
  width: 100%;
  height: 100%;
  padding-left: 0;
  padding-right: 4.5rem;
  border: none;
  border-bottom: 2px solid #111;
  text-indent: 1rem;
  color: #111;
  font-size: 1.6rem;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text]::-webkit-input-placeholder {
  color: #aaa;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text]::-moz-placeholder {
  color: #aaa;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text]:-ms-input-placeholder {
  color: #aaa;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text]::-ms-input-placeholder {
  color: #aaa;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search input[type=text]::placeholder {
  color: #aaa;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search .btn_lnb_search {
  cursor: pointer;
  width: 4.5rem;
  height: 4.5rem;
  position: absolute;
  right: 0;
  top: 0;
}
.header.gnb_mob .menu_search .wrap_drop_menu .wrap_lnb_search .btn_lnb_search::after {
  content: "";
  display: block;
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("../../public/img/icons/icon_search_bl.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header.gnb_mob .menu_search.on .wrap_drop_menu {
  opacity: 1;
  visibility: inherit;
}
.header.gnb_mob .wrap_gnb_search {
  display: none;
}

html.open_lnb body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}
html.open_lnb .header .nav_dim {
  opacity: 1;
  visibility: visible;
  overflow: hidden !important;
  -ms-touch-action: none;
      touch-action: none;
}
html.open_lnb .header.gnb_wide .area_menu::after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2050;
  width: 100%;
  height: 1px;
  background-color: #ddd;
  bottom: 0;
}

/* 브레드크럼 breadcrumb */
.wrap_breadcrumb {
  position: fixed;
  top: 112px;
  z-index: 1999;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.breadcrumb {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  color: #111;
}
.breadcrumb > li {
  height: 39px;
  line-height: 39px;
  border-left: none;
}
.breadcrumb > li::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
.breadcrumb > li:nth-of-type(1)::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
.breadcrumb .cat_home {
  position: relative;
  width: 40px;
  background-image: url("../../public/img/icons/icon_home.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 14px 14px;
}
.breadcrumb .cat_home a {
  width: 100%;
  height: 100%;
}
.breadcrumb .cat_depth01,
.breadcrumb .cat_depth02 {
  position: relative;
  width: 260px;
  background-image: url("../../public/img/icons/icon_chevron_down_bl.png");
  background-position: top 16px right 20px;
  background-repeat: no-repeat;
  background-size: 11px 7px;
}
.breadcrumb .cat_depth01 .cat_title,
.breadcrumb .cat_depth02 .cat_title {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 20px;
  padding-right: 32px;
}
.breadcrumb .cat_sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: calc(100% + 1px);
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff;
  margin-left: -1px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  display: none;
}
.breadcrumb .cat_sub_menu::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
.breadcrumb .cat_sub_menu::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 1px;
  height: 100%;
  background-color: #ddd;
}
.breadcrumb .cat_sub_menu .cat_sub_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 35px;
  padding: 5px 0;
  cursor: pointer;
  text-align: left;
}
.breadcrumb .cat_sub_menu .cat_sub_item .cat_sub_anchor {
  line-height: 1.25;
  word-break: keep-all;
  padding-left: 20px;
  padding-right: 20px;
}
.breadcrumb .cat_sub_menu .cat_sub_item .cat_sub_anchor:focus-visible {
  border: 2px solid #111;
  outline: 2px solid #111;
}
.breadcrumb .cat_sub_menu .cat_sub_item:hover .cat_sub_anchor {
  text-decoration: underline;
  color: #1953d5;
  text-underline-offset: 4px;
}
.breadcrumb .cat_depth01.on .cat_sub_menu,
.breadcrumb .cat_depth02.on .cat_sub_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 브레드크럼 breadcrumb end*/
@media all and (max-width: 1366px) {
  .header.gnb_wide .gov_top_info {
    left: 2%;
  }
  .header.gnb_wide .gov_top_info p {
    margin: unset;
  }
  .header.gnb_wide .wrap_gnb_search {
    position: relative;
    margin-left: auto;
  }
  .header.gnb_wide .wrap_gnb_search .gnb_search .input_search_gnb {
    max-width: unset;
    width: 100%;
  }
  .header.gnb_wide .area_menu {
    width: 100%;
  }
  .header.gnb_wide .area_menu .area_menu_inner {
    width: 100%;
    padding: 0 2%;
  }
  .header.gnb_wide .area_menu .area_menu_inner .logo {
    left: 2%;
  }
  .header.gnb_wide .area_top .area_top_inner {
    width: 100%;
    padding: 1rem 2%;
  }
  .header.gnb_wide .menu_text .lnb_list .depth01 {
    width: unset;
    min-width: 25%;
    max-width: 20rem;
  }
  .wrap_breadcrumb {
    width: 100%;
    padding: 0 2%;
  }
  .wrap_breadcrumb .breadcrumb {
    width: 100%;
  }
}
@media all and (max-width: 1024px) {
  /* 브레드크럼 breadcrumb */
  .wrap_breadcrumb {
    top: 93px;
    height: 35px;
    padding-left: 16px;
  }
  .breadcrumb {
    width: 100%;
  }
  .breadcrumb > li {
    height: 35px;
    line-height: 35px;
  }
  .breadcrumb .cat_home {
    width: 35px;
    height: 34px;
  }
  .breadcrumb .cat_sub_menu {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
@media all and (max-width: 480px) {
  /* 브레드크럼 breadcrumb */
  .wrap_breadcrumb {
    padding: 0;
  }
  .wrap_breadcrumb .breadcrumb > li:nth-of-type(1)::before {
    display: none;
  }
  .wrap_breadcrumb .breadcrumb .cat_sub_menu {
    border-top: none;
  }
  .wrap_breadcrumb .breadcrumb .cat_depth01,
  .wrap_breadcrumb .breadcrumb .cat_depth02 {
    width: 15.4rem;
    height: 100%;
    background-image: url("../../public/img/icons/icon_chevron_down_bl.png");
    background-position: top 14px right 12.5px;
    background-repeat: no-repeat;
    background-size: 10px 6px;
  }
  .wrap_breadcrumb .breadcrumb .cat_depth01 .cat_title,
  .wrap_breadcrumb .breadcrumb .cat_depth02 .cat_title {
    line-height: 35px;
    padding-left: 12px;
    padding-right: 21px;
  }
  .wrap_breadcrumb .breadcrumb .cat_sub_item {
    line-height: 1.25;
    padding-right: 10px;
    padding-left: 12px;
    padding-top: 6.25px;
    padding-bottom: 6.25px;
  }
  .wrap_breadcrumb .breadcrumb .cat_sub_item .cat_sub_anchor {
    padding-left: 0;
    padding-right: 0;
  }
}